<div>
<!--
{{#button-with-confirmation
  text="Click OK to delete your account."
  onConfirm=(action "sendMessage" "info")
  as |confirmValue|
}}
	{{input value=confirmValue}}
{{/button-with-confirmation}}
-->
{{outlet}}
</div>